/*
   Author: Joseph Martinez
   MSU Denver login name: jmart506
   Date Created: 03-29-19
   Date Due: 05-11-19
   Modified: 05-03-19
   Filename: extensible.css
   Purpose: Final Project CIS 3030
   Editor: Adobe Dreamweaver
*/
message {
   display: block;
   width: 400px; 
   color: blue; 
   text-align: center;
   font-size: 12pt; 
   border: 3px solid blue; 
   background-color: ivory;
   margin: 10px; 
   padding: 15px;
}
catalog {
	font-size: 90%;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	display: block;
	margin: 40px 176px 200px 200px;
}
title	{
   font-size: 15pt; 
   color: blue;
   font-weight: bold;
}
textBook {
   display: block;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12pt; 
}
author {
	display: block;
	border: 1px solid silver;
	margin: 0.5em;
	padding: 0.5em;
	background-color: rgba(245,234,183,1.00);
	margin-right: 700px;
	font-size: 12pt;
}
publisher, year {
	display: block;
	border: 1px solid silver;
	margin: 0.5em;
	padding: 0.5em;
	background-color: rgba(248,233,219,1.00);
	margin-right: 700px;
}
year {
	background-color: rgba(225, 242, 237, 1.00);
}
price {
   color: red;
   font-family: Times New Roman, Times, Serif;
}
description {
	display: block;
	border: 1px solid silver;
	margin: 0.5em;
	padding: 0.5em;
	margin-right: 700px;
}



  
